.nav-bar__items {
	background: linear-gradient(
		90deg,
		rgb(59, 59, 71) 20%,
		rgb(13, 28, 58) 100%
	);
	width: auto;
	height: 60px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	z-index: 5;
}



.navbar-logo {
	color: #FFF !important;
	justify-self: start;
	margin-left: 10rem;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
}

.navbar-logo h1:first-letter {
	color: rgb(250, 250, 250);
	font-style: italic;
}

.fa-react {
	margin-left: 0.5rem;
	font-size: 1.6rem;
}

.nav-menu {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	list-style: none;
	text-align: center;
	width: 100%;
	justify-content: end;
	margin-right: 4rem;
}


.nav-links {
    color: white;
	text-decoration: none;
	padding: 0.5rem 1rem;
}

.nav-links {
    color: #FFF !important;
	text-decoration: none;
	padding: 0.5rem 1rem;
}

.logout-button{
	cursor: pointer;
}

.nav-links:hover {
	background-color: #cacaca;
	color: rgb(36, 36, 36) !important;
	border-radius: 4px;
	transition: all 0.2s ease-out;
}

.nav-icon {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	list-style: none;
	text-align: center;
	justify-content: end;
	margin-right: 4rem;
}

.fa-bars {
	color: #fff;
}

.menu-icon {
	display: none;
}

@media screen and (max-width: 960px) {
	.NavbarItems {
		position: relative;
	}

	.nav-menu {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 300px;
		position: absolute;
		top: 80px;
		left: -100%;
		opacity: 1;
		transition: all 0.5s ease;
	}

	.nav-menu.active {
		background: #6668f4;
		left: 0;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 1;
	}

	.nav-links {
		font-weight: bold;
		text-align: center;
		padding: 2rem;
		width: 100%;
		display: table;
	}

	.nav-links:hover {
		background-color: #7577fa;
		font-weight: bold;
		border-radius: 0;
	}

	.navbar-logo {
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(25%, 50%);
	}

	.menu-icon {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-100%, 60%);
		font-size: 1.8rem;
		cursor: pointer;
	}

	.fa-times {
		color: #fff;
		font-size: 2rem;
	}
}
